.table td, .table th {
    vertical-align: middle;
}

.toast {
    max-width: inherit;
}

.toast-top-full-width {
    top: 60px;
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Add asterisk after label of input with required attribute */
label.required:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: " \f621";
    color: red;
}
