dist: bionic
language: php

services:
  - redis-server
  - mysql

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - '7.4'

node_js:
  - 11

before_script:
  - phpenv config-rm xdebug.ini
  - cp .env.travis .env
  - composer self-update
  - composer install --prefer-dist --optimize-autoloader --no-suggest --no-progress
  - php artisan key:generate
  - mysql -e 'CREATE DATABASE travis_test DEFAULT CHARACTER SET utf8mb4 DEFAULT COLLATE utf8mb4_unicode_ci;'
  - php artisan migrate
  - yarn install
  - yarn production

after_success:
  - bash <(curl -s https://codecov.io/bash)

script:
  - phpdbg -qrr vendor/bin/phpunit --coverage-clover=coverage.xml

notifications:
  email:
    recipients:
      - hackersir-developer@googlegroups.com
    on_success: change
    on_failure: always
